/* global styles */
html {
	font-size: 12pt;
	background:$proper-grey;
}
body {
	font-family: $main-font;
	padding:0px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
}
@media (min-width:1600px) {
	body {
		width:90%;
	}
}

